%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, style: :horizontal, left: "col-sm-2", right: "col-sm-6") do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: "Email Address", class: "form-control"
          = f.password_field :password
          = f.text_field :full_name, label: "Full Name"
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key=#{ENV['STRIPE_PUBLISHABLE_KEY']} data-name="MattFlix Sign Up Charge" data-description="Best $9.99 you've ever spent." data-amount="999">
            </script>

